@font-face {
    font-family: 'Poppins', sans-serif;
}
#wrapper{
  background-color: lightslategray;
  color: white;
</div
}

h1{
    padding-left: 3%;
}

a{
  color: white;
  padding-left: 3%;
}

#index{
  background-color: black;
}

body{
  background-color: whitesmoke;
}
